openssl_conf = openssl_init

[openssl_init]
ssl_conf = ssl_sect
providers = provider_sect

[ssl_sect]
system_default = system_default_sect

[system_default_sect]
Groups = p521_kyber1024:kyber768:x25519

[provider_sect]
oqsprovider = oqsprovider_sect
default = default_sect

[default_sect]
activate = 1

#[fips_sect]
#activate = 1

[oqsprovider_sect]
activate = 1

